body{
    background-image: url("images/stars.png");
    background-repeat: repeat;
    background-size: 100px 100px;
    background-color: blue;
}
.fireTitle{
    width: 70%;
}
.wizardPic{
    width:80%;
}
.wizard{
    background-image: url("images/wizard.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}